.wrap{
	border: 1px solid red;
	width: 70%;
	height: 1600px;
	margin: auto;
	border-radius: 15px;
	border-width: 3px;
}
.card{
	border: 2px solid #008080;
	width: 500px;
	height: 400px;
	float: left;
	margin: 50px;
	border-radius: 20px;
	overflow: auto; 
	padding: 15px;
	border-width: 3px;
}
img{
	width: 400px;
	margin: auto;
	display: block;
	border-radius: 20px;
}
h1{
	text-align: center;
}
p{
	color: #FF00FF;
}
body{
	background-color: #D3D3D3;
}
.but{
	background-color: grey;
	width: 60px;
	padding: 10px;
	float: right;
}
.home{
	text-align: center;
	font-size: 50px;
}
.up{
	font-size: 50px;
	position:fixed;
	left: 1860px;
	bottom:1px;
}
a{
	color: white;
	text-decoration: none;
}
