h1{
	text-align: center;
	color: #FF8C00;	
}
h2{
	text-align: center;
	color: orange;
}
body{
	background-color: lightblue;
}

.мореплавці{
	background-color: #00008B;
	text-decoration: none;
	width: 145px;
}
.відкриття{
	background-color: #00008B;
	text-decoration: none;
	width: 215px;
}
.Резюме{
	background-color: #00008B;
	text-decoration: none;
	width: 52px;
}
.Рейтинг{
	background-color: #00008B;
	text-decoration: none;
	width: 194px;
}
.8_березння{
	background-color: #00008B;
	text-decoration: none;
	width: 194px;
}
.but{
	font-size: 50px;
	text-align: center;
}
a{
	color: white;
	text-decoration: none;
	width: 50px;
}
ol{
	background-color: lightyellow;
	color: gray
}
.up{
	font-size: 50px;
	position: fixed;
	left: 1860px;
	bottom:1px;
}
ul{
	background-color: lightyellow;
	color:gray
}
dt{
	background-color: lightyellow;
	color: gray
}
dd{
	background-color: lightyellow;
	color: gray
}
h3{
	background-color: gray;
	color: white
}
