body{
	background-repeat: no-repeat;
	background-color: #2F4F4F;  
}
table{
	border: 2px solid black;
	margin: auto;
	border-collapse: collapse;
	width: 700px;
	height: 800px;
	text-align: center;
}
caption{
	background: #DAA520;
}

th{
	border: 2px solid black;
	background-color: #DAA520;
}
td{
	border: 1px solid black;
}
tr:nth-child(even){
	background-color: #F5DEB3;
}
tr:nth-child(odd){
	background-color: #BC8F8F;
}
tr:hover{
	background-color: white;
}
.but{
	font-size: 50px;
	text-align: center;
}
